@import "mixins";
@import "media";

header {
  box-sizing: border-box;
  padding-bottom: 220px;
  background-color: blue;
  color: #fff;
  background: linear-gradient(to bottom right, rgba(255, 165, 0, 0.7), rgba(0, 0, 255, 0.7)),
              url("../img/bg-header2.jpg") no-repeat top center;
  background-size: cover;
  //border-bottom-right-radius: 14em 3em;
  //border-bottom-left-radius: 14em 3em;

  display: flex;
  flex-direction: column;
  align-items: center;

    .header-top {
      box-sizing: border-box;
      margin-top: 20px;
      width: 100%;
      padding: 0 3%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex: 0 0 auto;
    }

    .logo {
      font-size: 3.3em;
      letter-spacing: -3px;
      font-weight: bold;
      color: #fff;
      text-decoration: none;
      transition: text-shadow .3s ease;

      &:hover {
        text-shadow: 0 0 20px #000;
      }

      &::after {
        content: ".";
        color: #fba419;
      }
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: space-between;

      li + li {
        margin-left: 20px;
      }

      a {
        font-weight: bold;
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        position: relative;

        &::after {
          content: "";
          width: 100%;
          position: absolute;
          bottom: -10%;
          right: 0%;
          border-bottom: 1px solid #fff;
          transform: scaleX(0);
          transition: all 0.3s ease;
        }

        &:hover::after {
          transform: scale(1);
        }

        &:hover {
          opacity: 0.7;
        }
      }
    }

  h1 {
    margin-bottom: 0;
  }

  p {
    width: 750px;
    opacity: 0.8;
  }

  button {
    background-image: none;
    background-color: #fff;

    a {
      color: #000;
    }
  }

  .alternative-menu-container {
    display: none;

    .alternative-menu {
      display: flex;
      justify-content: space-between;

      .checkbox {
        visibility: hidden;
        position: absolute;
      }

      nav {
        opacity: 0;
        transition: opacity .3s ease;
      }

      ul {
        flex-direction: column;
      }

      li + li {
        margin: 20px 0 0 0;
      }

      .menu-btn {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;

        .hamburger {
          display: block;
          flex: 0 0 auto;
          width: 100%;
          height: 5px;
          background: rgba(255, 255, 255, 0.6);
          position: relative;
          transition: transform .3s ease;

          &::before, &::after {
            content: "";
            width: 100%;
            height: 5px;
            background: rgba(255, 255, 255, 0.6);
            position: absolute;
            transition: transform .3s ease;
          }

          &::before {
            top: -10px;
          }

          &::after {
            top: 10px;
          }
        }
      }

      input[type="checkbox"]:checked + nav {
        opacity: 1;
      }

      .hamburger.active,
      .hamburger.active:hover {
        background: transparent;
      }

      .hamburger.active {
        &::before {
          transform: translateY(10px) rotate(45deg);
        }

        &::after {
          transform: translateY(-10px) rotate(-45deg);
        }
      }
    }

    #menu-checkbox-container {
      height: 50px;
    }

    #menu-checkbox-container:hover .hamburger,
    #menu-checkbox-container:hover .hamburger::before,
    #menu-checkbox-container:hover .hamburger::after {
      background: #fff;
    }

    #menu-checkbox-container:hover .hamburger.active {
      background: transparent;
    }
  }
}

#header {
  padding-bottom: 40px;
}
