@import "mixins";

@media (max-width: 1200px) {
  #offer {
    .background-container {
      width: calc((100% - 955px) / 2 + 477px);
    }

    .container {
      flex-direction: column;

      .offer-card {
        margin: 0;
        order: 2;
      }

      .offer-info {
        box-sizing: border-box;
        padding: 0 20px;
        margin: 0 0 40px 0;
        width: 100%;
        order: 1;
        z-index: 3;
        background: rgba(255, 255, 255, 0.2);
      }
    }
  }
}

@media (max-width: 1040px) {
  .about-us {
    .container {
      width: 100%;
      padding: 0 30px;
    }
  }

  #team {
    &::after {
      width: 100%;
      left: 0;
    }
  }
}

@media (max-width: 990px) {
  .facts {
    flex-wrap: wrap;

    .facts-item-last {
      margin-top: 80px;
    }
  }

  .about-us {
    .container {
      span.big-a {
        display: none;
      }
    }
  }

  #features {
    .container {
      width: 100%;
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 300px 300px 300px;
      grid-template-areas: "z z"
                           "a b"
                           "c d";
      grid-gap: 0;

      .features-item-main {
        width: 100%;
        border-radius: 0;
        box-shadow: none;
        position: static;
        grid-area: z;
      }

      .features-item {
        border-radius: 0;

        &:hover {
          transform: none;
        }

        h4, p {
          opacity: 1;
          margin-top: 20px;
        }

        .features-item-blur-container {
          border-radius: 0;
          filter: blur(5px);

        }
      }

      .features-item-main {
        h2 {
          margin-top: 0;
        }
      }
    }
  }

  .services {
    .container {
      box-sizing: border-box;
      padding-left: 50px;
      width: 100%;

      .services-item {
        color: #fff;
      }
    }

    #services-bg {
      width: 100%;
      filter: brightness(60%);
    }
  }

  #team {
    .container {
      box-sizing: border-box;
      padding: 0 10px;
      width: 100%;
    }
  }

  #offer {
    .background-container {
      width: 50%;
    }

    .container {
      width: 100%;

      .offer-info {
        width: 90%;
      }
    }
  }

  #social {
    .container {
      width: 100%;
    }
  }

  #footer {
    .container {
      width: 100%;
      flex-wrap: wrap;
      justify-content: center;

      .features-item + .features-item {
        margin-left: 30px;
      }
    }
  }

  #header.contact-us {
    .container {
      width: 100%;

      form {
        border-radius: 0;
      }
    }
  }

  #our-team {
    .background-container:nth-child(odd) {
      width: 31%;
    }

    .background-container:nth-child(even) {
      width: 34%;
    }

    .container {
      box-sizing: border-box;
      width: 100%;
      padding: 0 20px;
    }
  }
}

@media (max-width: 966px) {
  .services {
    .container {
      padding: 0 30px;
      display: flex;
      flex-direction: column;
      align-items: center;

      #services-item {
        width: 100%;
      }

      #services-item-2 {
        @include orange-blue-gradient(45deg);

        width: 430px;
        height: 630px;
        margin: 0;
        transform: rotate(90deg);

        .table-overflow-container {
          width: 396px;
          height: 598px;
        }


        td {
          transform: rotate(-90deg);
          width: 200px;
          height: 200px;
        }
      }
    }
  }
}

@media (max-width: 880px) {
  .about-us {
    .container {
      flex-direction: column;
      align-items: center;

      .about-us-item {
        width: 100%;
      }

      .quote {
        width: 100%;
        margin-top: 100px;

        p:before {
          left: -45px;
          top: -7px;
        }
      }
    }
  }
}

@media (max-width: 790px) {
  #offer {
    .container {
      .offer-card {
        width: 100%;

        ul {
          box-sizing: border-box;
          padding: 0 10px 0 15px;

          li:hover {
            transform: none;
          }
        }
      }
    }
  }

  #our-team {
    .background-container {
      display: none;
    }

    .container {
      .our-team-item {
        flex-direction: column;
        height: auto;

        .specifications {
          width: 50%;
        }

        .info {
          width: 100%;
        }

        .our-team-card {
          margin: 0;
          width: 100%;

          .info {
            @include orange-blue-gradient(135deg);

            .footer {
              flex-direction: column;

              a + a {
                margin-left: 0;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  header {
    p {
      max-width: 530px;
    }

    h1 {
      font-size: 4em;
    }
  }

  #team {
    &::after {
      width: 0;
    }

    .container {
      .team-item {
        flex-direction: column;
        align-items: center;

        .team-member-card {
          width: 60%;

          img:hover {
            transform: none;
          }
        }
      }
    }
  }
}

@media (max-width: 690px) {
  .facts {
    padding: 0 0 var(--main-bottom-padding) 0;
    flex-direction: column;
    align-items: center;

    .facts-item {
      margin: 40px 0 0 0;

      &:hover {
        transform: none;
      }
    }
  }

  #features {
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;

      .features-item {
        box-sizing: border-box;
        order: 2;
        width: 100%;

        .features-item-blur-container {
          width: 100%;
          background-size: cover;
        }
      }

      .features-item-main {
        height: auto;
        order: 1;
      }
    }
  }

  .services {
    .container {
      #services-item-2 {
        @include orange-blue-gradient(135deg);

        margin: 60px 0 0 0;
        transform: none;

        td {
          transform: none;
        }
      }
    }
  }
}

@media (max-width: 650px) {
  header {
    .header-top {
      align-items: flex-start;
    }

    .main-menu {
      display: none;
    }

    .alternative-menu-container {
      display: block;
    }
  }
}

@media (max-width: 582px) {
  #offer {
    .background-container {
      width: 100%;
      height: 50%;
    }

    .container {
      .offer-card {
        flex-direction: column;

        .offer-item {
          width: 100%;
        }

        button {
          margin: 20px;
        }
      }
    }
  }

  #social {
    .container {
      .social-item {
        width: 90%;
        flex-wrap: wrap;
        justify-content: center;

        a {
          margin-top: 10px;
        }

        a + a {
          margin-left: 20px;
        }
      }
    }
  }
}

@media (max-width: 547px) {
  header {
    p {
      width: 70%;
    }
  }

  #header.contact-us {
    .container {
      form {
        .form-item-1 {
          flex-direction: column;

          input {
            width: 100%;
          }

          input:not(:last-child) {
            margin-bottom: var(--margin-top-form);
          }
        }
      }
    }
  }
}

@media (max-width: 520px) {
  header {
    h1 {
      font-size: 3em;
    }

    h3 {
      font-size: 1.5em;
    }
  }
}

@media (max-width: 470px) {
  .services {
    .container {
      padding: 0;

      #services-item {
        box-sizing: border-box;
        padding: 0 30px;
      }

      #services-item-2 {
        width: 100%;

        .table-overflow-container {
          width: 100%;

          table {
            width: calc(100% + 4px);
          }

          td {
            width: 50%;
          }
        }
      }
    }
  }
}

@media (max-width: 400px) {
  header {
    .header-top {
      justify-content: flex-end;
    }

    .logo {
      display: none;
    }

    h1 {
      font-size: 2em;
    }
  }

  .facts {
    .facts-item {
      padding-bottom: 25px;
      width: 100%;
      height: auto;
      border-radius: 0;

      .facts-item-overflow-container {
        border-radius: 0;

        img {
          border-radius: 0;
        }
      }

      button {
        margin-top: 0;
      }
    }
  }

  #our-team {
    .container{
      .our-team-item {
        .info {
          .specifications {
            width: 100%;
          }
        }
      }
    }
  }
}