@mixin orange-blue-gradient ($direction) {
  background: linear-gradient($direction, rgb(255, 165, 0), rgb(0, 0, 255));
}

@mixin border-black {
  border: 1px solid #000;
}

@mixin border-radius-10px {
  border-radius: 10px;
}

@mixin h1-h2-options{
  font-family: Bernadette;
  font-weight: normal;
}

@mixin box-shadow-main-style {
  box-shadow: 0 0 25px #000;
}