@import "mixins";

.services {
  padding-bottom: 100px;
  position: relative;
  background: #f4f4f4;

  .container {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;


    .services-item {
      width: 450px;
      flex: 0 0 auto;

      span {
        font-weight: bold;
        }

      button {
        margin-top: 50px;
      }
    }

    .services-item-2 {
      @include orange-blue-gradient(135deg);
      @include border-radius-10px;

      margin: 60px 0 0 50px;
      width: 330px;
      height: 480px;
      flex: 0 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;

      .table-overflow-container {
        box-sizing: border-box;
        width: 296px;
        height: 446px;
        flex: 0 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        table {
          @include border-radius-10px;

          box-sizing: border-box;
          width: 300px;
          height: 450px;
          color: #fff;
          border-collapse: collapse;
          flex: 0 0 auto;
          table-layout: fixed;

          td {
            box-sizing: border-box;
            padding: 0;
            margin: 0;
            border: 2px dotted rgba(255, 255, 255, 0.3);
            width: 150px;
            height: 150px;
            flex: 0 0 auto;
            text-align: center;
            vertical-align: middle;
            transition: opacity 0.3s ease;

            &:hover {
              opacity: 0.5;
            }

            .ico {
              margin: 0 auto;
              width: 50px;
              height: 50px;
              background: url("../img/sprite.png");
            }

            .ico-1 {
              background-position: -20px -350px;
            }

            .ico-2 {
              background-position: -160px 0px;
            }

            .ico-3 {
              background-position: -90px -210px;
            }

            .ico-4 {
              background-position: -20px -280px;
            }

            .ico-5 {
              background-position: -160px -210px;
            }

            .ico-6 {
              background-position: -230px -210px;
            }

            p {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }


  .services-right-bg-container {
    width: 43%;
    height: 100%;
    background: url("../img/bg-services.jpg") no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
  }
}