@keyframes btn-hover {
  from {
    background-position: 0% 0%; }
  50% {
    background-position: 100% 0%; }
  to {
    background-position: 0% 0%; } }

@keyframes icon-rotate {
  from {
    transform: rotateX(0); }
  to {
    transform: rotateY(360deg); } }

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0); }
  to {
    opacity: 1;
    transform: scale(1); } }

.facts {
  box-sizing: border-box;
  padding: 0 15px var(--main-bottom-padding) 15px;
  margin-top: -150px;
  width: 100%;
  display: flex;
  justify-content: center;
  transform-style: preserve-3d; }
  .facts .facts-item {
    border-radius: 10px;
    box-sizing: border-box;
    width: 300px;
    height: 420px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 50px #b3b2ae;
    transition: all 0.3s ease;
    background-color: #fff; }
    .facts .facts-item .facts-item-overflow-container {
      width: 100%;
      height: 180px;
      overflow: hidden;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      flex: 0 0 auto; }
      .facts .facts-item .facts-item-overflow-container img {
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        transition: all 0.3s linear; }
        .facts .facts-item .facts-item-overflow-container img:hover {
          transform: scale(1.2); }
    .facts .facts-item img {
      width: 100%; }
    .facts .facts-item p {
      margin: 0 18px 18px 18px; }
    .facts .facts-item button {
      flex: 0 0 auto; }
    .facts .facts-item:hover {
      transform: translateZ(10px); }
  .facts div + div {
    margin-left: 25px; }
