@media (max-width: 1200px) {
  #offer .background-container {
    width: calc((100% - 955px) / 2 + 477px); }
  #offer .container {
    flex-direction: column; }
    #offer .container .offer-card {
      margin: 0;
      order: 2; }
    #offer .container .offer-info {
      box-sizing: border-box;
      padding: 0 20px;
      margin: 0 0 40px 0;
      width: 100%;
      order: 1;
      z-index: 3;
      background: rgba(255, 255, 255, 0.2); } }

@media (max-width: 1040px) {
  .about-us .container {
    width: 100%;
    padding: 0 30px; }
  #team::after {
    width: 100%;
    left: 0; } }

@media (max-width: 990px) {
  .facts {
    flex-wrap: wrap; }
    .facts .facts-item-last {
      margin-top: 80px; }
  .about-us .container span.big-a {
    display: none; }
  #features .container {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 300px 300px 300px;
    grid-template-areas: "z z" "a b" "c d";
    grid-gap: 0; }
    #features .container .features-item-main {
      width: 100%;
      border-radius: 0;
      box-shadow: none;
      position: static;
      grid-area: z; }
    #features .container .features-item {
      border-radius: 0; }
      #features .container .features-item:hover {
        transform: none; }
      #features .container .features-item h4, #features .container .features-item p {
        opacity: 1;
        margin-top: 20px; }
      #features .container .features-item .features-item-blur-container {
        border-radius: 0;
        filter: blur(5px); }
  .services .container {
    box-sizing: border-box;
    padding-left: 50px;
    width: 100%; }
    .services .container .services-item {
      color: #fff; }
  .services #services-bg {
    width: 100%;
    filter: brightness(60%); }
  #team .container {
    box-sizing: border-box;
    padding: 0 10px;
    width: 100%; }
  #offer .background-container {
    width: 50%; }
  #offer .container {
    width: 100%; }
    #offer .container .offer-info {
      width: 90%; }
  #social .container {
    width: 100%; }
  #footer .container {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center; }
    #footer .container .features-item + .features-item {
      margin-left: 30px; } }

@media (max-width: 966px) {
  .services .container {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .services .container #services-item {
      width: 100%; }
    .services .container #services-item-2 {
      background: linear-gradient(45deg, orange, blue);
      width: 430px;
      height: 630px;
      margin: 0;
      transform: rotate(90deg); }
      .services .container #services-item-2 .table-overflow-container {
        width: 396px;
        height: 598px; }
      .services .container #services-item-2 td {
        transform: rotate(-90deg);
        width: 200px;
        height: 200px; } }

@media (max-width: 880px) {
  .about-us .container {
    flex-direction: column;
    align-items: center; }
    .about-us .container .about-us-item {
      width: 100%; }
    .about-us .container .quote {
      width: 100%;
      margin-top: 100px; }
      .about-us .container .quote p:before {
        left: -45px;
        top: -7px; } }

@media (max-width: 790px) {
  #offer .container .offer-card {
    width: 100%; }
    #offer .container .offer-card ul {
      box-sizing: border-box;
      padding: 0 10px 0 15px; }
      #offer .container .offer-card ul li:hover {
        transform: none; } }

@media (max-width: 767px) {
  header p {
    max-width: 530px; }
  header h1 {
    font-size: 4em; }
  #team::after {
    width: 0; }
  #team .container .team-item {
    flex-direction: column;
    align-items: center; }
    #team .container .team-item .team-member-card {
      width: 60%; } }

@media (max-width: 690px) {
  .facts {
    padding: 0 0 var(--main-bottom-padding) 0;
    flex-direction: column;
    align-items: center; }
    .facts .facts-item {
      margin: 40px 0 0 0; }
      .facts .facts-item:hover {
        transform: none; }
  #features .container {
    display: flex;
    flex-direction: column;
    align-items: center; }
    #features .container .features-item {
      box-sizing: border-box;
      order: 2;
      width: 100%; }
      #features .container .features-item .features-item-blur-container {
        width: 100%;
        background-size: cover; }
    #features .container .features-item-main {
      height: auto;
      order: 1; }
  .services .container #services-item-2 {
    background: linear-gradient(135deg, orange, blue);
    margin: 60px 0 0 0;
    transform: none; }
    .services .container #services-item-2 td {
      transform: none; } }

@media (max-width: 582px) {
  #offer .background-container {
    width: 100%;
    height: 50%; }
  #offer .container .offer-card {
    flex-direction: column; }
    #offer .container .offer-card .offer-item {
      width: 100%; }
    #offer .container .offer-card button {
      margin: 20px; }
  #social .container .social-item {
    width: 90%;
    flex-wrap: wrap;
    justify-content: center; }
    #social .container .social-item a {
      margin-top: 10px; }
    #social .container .social-item a + a {
      margin-left: 20px; } }

@media (max-width: 547px) {
  header .logo {
    display: none; }
  header nav {
    width: 100%; }
  header p {
    width: 70%; } }

@media (max-width: 520px) {
  header h1 {
    font-size: 3em; }
  header h3 {
    font-size: 1.5em; } }

@media (max-width: 470px) {
  .services .container {
    padding: 0; }
    .services .container #services-item {
      box-sizing: border-box;
      padding: 0 30px; }
    .services .container #services-item-2 {
      width: 100%; }
      .services .container #services-item-2 .table-overflow-container {
        width: 100%; }
        .services .container #services-item-2 .table-overflow-container table {
          width: calc(100% + 4px); }
        .services .container #services-item-2 .table-overflow-container td {
          width: 50%; } }

@media (max-width: 400px) {
  header h1 {
    font-size: 2em; }
  .facts .facts-item {
    padding-bottom: 25px;
    width: 100%;
    height: auto;
    border-radius: 0; }
    .facts .facts-item .facts-item-overflow-container {
      border-radius: 0; }
      .facts .facts-item .facts-item-overflow-container img {
        border-radius: 0; }
    .facts .facts-item button {
      margin-top: 0; } }

header {
  box-sizing: border-box;
  height: 800px;
  background-color: blue;
  color: #fff;
  background: linear-gradient(to bottom right, rgba(255, 165, 0, 0.7), rgba(0, 0, 255, 0.7)), url("../img/bg-header2.jpg") no-repeat top center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center; }
  header .header-top {
    box-sizing: border-box;
    margin-top: 20px;
    width: 100%;
    padding: 0 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 auto; }
  header .logo {
    font-size: 3.3em;
    letter-spacing: -3px;
    font-weight: bold; }
    header .logo::after {
      content: ".";
      color: #fba419; }
  header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between; }
    header ul li + li {
      margin-left: 20px; }
    header ul a {
      font-weight: bold;
      text-decoration: none;
      color: #fff;
      text-transform: uppercase;
      position: relative; }
      header ul a::after {
        content: "";
        width: 100%;
        position: absolute;
        bottom: -10%;
        right: 0%;
        border-bottom: 1px solid #fff;
        transform: scaleX(0);
        transition: all 0.3s ease; }
      header ul a:hover::after {
        transform: scale(1); }
      header ul a:hover {
        opacity: 0.7; }
  header h1 {
    margin-bottom: 0; }
  header p {
    width: 750px;
    opacity: 0.8; }
  header button {
    background-image: none;
    background-color: #fff; }
    header button a {
      color: #000; }
