@charset "UTF-8";
:root {
  --main-padding: 67px;
  --main-bottom-padding: 100px;
  --margin-top-form: 32px; }

@media (max-width: 1200px) {
  #offer .background-container {
    width: calc((100% - 955px) / 2 + 477px); }
  #offer .container {
    flex-direction: column; }
    #offer .container .offer-card {
      margin: 0;
      order: 2; }
    #offer .container .offer-info {
      box-sizing: border-box;
      padding: 0 20px;
      margin: 0 0 40px 0;
      width: 100%;
      order: 1;
      z-index: 3;
      background: rgba(255, 255, 255, 0.2); } }

@media (max-width: 1040px) {
  .about-us .container {
    width: 100%;
    padding: 0 30px; }
  #team::after {
    width: 100%;
    left: 0; } }

@media (max-width: 990px) {
  .facts {
    flex-wrap: wrap; }
    .facts .facts-item-last {
      margin-top: 80px; }
  .about-us .container span.big-a {
    display: none; }
  #features .container {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 300px 300px 300px;
    grid-template-areas: "z z" "a b" "c d";
    grid-gap: 0; }
    #features .container .features-item-main {
      width: 100%;
      border-radius: 0;
      box-shadow: none;
      position: static;
      grid-area: z; }
    #features .container .features-item {
      border-radius: 0; }
      #features .container .features-item:hover {
        transform: none; }
      #features .container .features-item h4, #features .container .features-item p {
        opacity: 1;
        margin-top: 20px; }
      #features .container .features-item .features-item-blur-container {
        border-radius: 0;
        filter: blur(5px); }
    #features .container .features-item-main h2 {
      margin-top: 0; }
  .services .container {
    box-sizing: border-box;
    padding-left: 50px;
    width: 100%; }
    .services .container .services-item {
      color: #fff; }
  .services #services-bg {
    width: 100%;
    filter: brightness(60%); }
  #team .container {
    box-sizing: border-box;
    padding: 0 10px;
    width: 100%; }
  #offer .background-container {
    width: 50%; }
  #offer .container {
    width: 100%; }
    #offer .container .offer-info {
      width: 90%; }
  #social .container {
    width: 100%; }
  #footer .container {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center; }
    #footer .container .features-item + .features-item {
      margin-left: 30px; }
  #header.contact-us .container {
    width: 100%; }
    #header.contact-us .container form {
      border-radius: 0; } }

@media (max-width: 966px) {
  .services .container {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .services .container #services-item {
      width: 100%; }
    .services .container #services-item-2 {
      background: linear-gradient(45deg, orange, blue);
      width: 430px;
      height: 630px;
      margin: 0;
      transform: rotate(90deg); }
      .services .container #services-item-2 .table-overflow-container {
        width: 396px;
        height: 598px; }
      .services .container #services-item-2 td {
        transform: rotate(-90deg);
        width: 200px;
        height: 200px; } }

@media (max-width: 880px) {
  .about-us .container {
    flex-direction: column;
    align-items: center; }
    .about-us .container .about-us-item {
      width: 100%; }
    .about-us .container .quote {
      width: 100%;
      margin-top: 100px; }
      .about-us .container .quote p:before {
        left: -45px;
        top: -7px; } }

@media (max-width: 790px) {
  #offer .container .offer-card {
    width: 100%; }
    #offer .container .offer-card ul {
      box-sizing: border-box;
      padding: 0 10px 0 15px; }
      #offer .container .offer-card ul li:hover {
        transform: none; } }

@media (max-width: 767px) {
  header p {
    max-width: 530px; }
  header h1 {
    font-size: 4em; }
  #team::after {
    width: 0; }
  #team .container .team-item {
    flex-direction: column;
    align-items: center; }
    #team .container .team-item .team-member-card {
      width: 60%; }
      #team .container .team-item .team-member-card img:hover {
        transform: none; } }

@media (max-width: 690px) {
  .facts {
    padding: 0 0 var(--main-bottom-padding) 0;
    flex-direction: column;
    align-items: center; }
    .facts .facts-item {
      margin: 40px 0 0 0; }
      .facts .facts-item:hover {
        transform: none; }
  #features .container {
    display: flex;
    flex-direction: column;
    align-items: center; }
    #features .container .features-item {
      box-sizing: border-box;
      order: 2;
      width: 100%; }
      #features .container .features-item .features-item-blur-container {
        width: 100%;
        background-size: cover; }
    #features .container .features-item-main {
      height: auto;
      order: 1; }
  .services .container #services-item-2 {
    background: linear-gradient(135deg, orange, blue);
    margin: 60px 0 0 0;
    transform: none; }
    .services .container #services-item-2 td {
      transform: none; } }

@media (max-width: 650px) {
  header .header-top {
    align-items: flex-start; }
  header .main-menu {
    display: none; }
  header .alternative-menu-container {
    display: block; } }

@media (max-width: 582px) {
  #offer .background-container {
    width: 100%;
    height: 50%; }
  #offer .container .offer-card {
    flex-direction: column; }
    #offer .container .offer-card .offer-item {
      width: 100%; }
    #offer .container .offer-card button {
      margin: 20px; }
  #social .container .social-item {
    width: 90%;
    flex-wrap: wrap;
    justify-content: center; }
    #social .container .social-item a {
      margin-top: 10px; }
    #social .container .social-item a + a {
      margin-left: 20px; } }

@media (max-width: 547px) {
  header p {
    width: 70%; }
  #header.contact-us .container form .form-item-1 {
    flex-direction: column; }
    #header.contact-us .container form .form-item-1 input {
      width: 100%; }
    #header.contact-us .container form .form-item-1 input:not(:last-child) {
      margin-bottom: var(--margin-top-form); } }

@media (max-width: 520px) {
  header h1 {
    font-size: 3em; }
  header h3 {
    font-size: 1.5em; } }

@media (max-width: 470px) {
  .services .container {
    padding: 0; }
    .services .container #services-item {
      box-sizing: border-box;
      padding: 0 30px; }
    .services .container #services-item-2 {
      width: 100%; }
      .services .container #services-item-2 .table-overflow-container {
        width: 100%; }
        .services .container #services-item-2 .table-overflow-container table {
          width: calc(100% + 4px); }
        .services .container #services-item-2 .table-overflow-container td {
          width: 50%; } }

@media (max-width: 400px) {
  header .header-top {
    justify-content: flex-end; }
  header .logo {
    display: none; }
  header h1 {
    font-size: 2em; }
  .facts .facts-item {
    padding-bottom: 25px;
    width: 100%;
    height: auto;
    border-radius: 0; }
    .facts .facts-item .facts-item-overflow-container {
      border-radius: 0; }
      .facts .facts-item .facts-item-overflow-container img {
        border-radius: 0; }
    .facts .facts-item button {
      margin-top: 0; } }

header {
  box-sizing: border-box;
  padding-bottom: 220px;
  background-color: blue;
  color: #fff;
  background: linear-gradient(to bottom right, rgba(255, 165, 0, 0.7), rgba(0, 0, 255, 0.7)), url("../img/bg-header2.jpg") no-repeat top center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center; }
  header .header-top {
    box-sizing: border-box;
    margin-top: 20px;
    width: 100%;
    padding: 0 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 auto; }
  header .logo {
    font-size: 3.3em;
    letter-spacing: -3px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    transition: text-shadow .3s ease; }
    header .logo:hover {
      text-shadow: 0 0 20px #000; }
    header .logo::after {
      content: ".";
      color: #fba419; }
  header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between; }
    header ul li + li {
      margin-left: 20px; }
    header ul a {
      font-weight: bold;
      text-decoration: none;
      color: #fff;
      text-transform: uppercase;
      position: relative; }
      header ul a::after {
        content: "";
        width: 100%;
        position: absolute;
        bottom: -10%;
        right: 0%;
        border-bottom: 1px solid #fff;
        transform: scaleX(0);
        transition: all 0.3s ease; }
      header ul a:hover::after {
        transform: scale(1); }
      header ul a:hover {
        opacity: 0.7; }
  header h1 {
    margin-bottom: 0; }
  header p {
    width: 750px;
    opacity: 0.8; }
  header button {
    background-image: none;
    background-color: #fff; }
    header button a {
      color: #000; }
  header .alternative-menu-container {
    display: none; }
    header .alternative-menu-container .alternative-menu {
      display: flex;
      justify-content: space-between; }
      header .alternative-menu-container .alternative-menu .checkbox {
        visibility: hidden;
        position: absolute; }
      header .alternative-menu-container .alternative-menu nav {
        opacity: 0;
        transition: opacity .3s ease; }
      header .alternative-menu-container .alternative-menu ul {
        flex-direction: column; }
      header .alternative-menu-container .alternative-menu li + li {
        margin: 20px 0 0 0; }
      header .alternative-menu-container .alternative-menu .menu-btn {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center; }
        header .alternative-menu-container .alternative-menu .menu-btn .hamburger {
          display: block;
          flex: 0 0 auto;
          width: 100%;
          height: 5px;
          background: rgba(255, 255, 255, 0.6);
          position: relative;
          transition: transform .3s ease; }
          header .alternative-menu-container .alternative-menu .menu-btn .hamburger::before, header .alternative-menu-container .alternative-menu .menu-btn .hamburger::after {
            content: "";
            width: 100%;
            height: 5px;
            background: rgba(255, 255, 255, 0.6);
            position: absolute;
            transition: transform .3s ease; }
          header .alternative-menu-container .alternative-menu .menu-btn .hamburger::before {
            top: -10px; }
          header .alternative-menu-container .alternative-menu .menu-btn .hamburger::after {
            top: 10px; }
      header .alternative-menu-container .alternative-menu input[type="checkbox"]:checked + nav {
        opacity: 1; }
      header .alternative-menu-container .alternative-menu .hamburger.active,
      header .alternative-menu-container .alternative-menu .hamburger.active:hover {
        background: transparent; }
      header .alternative-menu-container .alternative-menu .hamburger.active::before {
        transform: translateY(10px) rotate(45deg); }
      header .alternative-menu-container .alternative-menu .hamburger.active::after {
        transform: translateY(-10px) rotate(-45deg); }
    header .alternative-menu-container #menu-checkbox-container {
      height: 50px; }
    header .alternative-menu-container #menu-checkbox-container:hover .hamburger,
    header .alternative-menu-container #menu-checkbox-container:hover .hamburger::before,
    header .alternative-menu-container #menu-checkbox-container:hover .hamburger::after {
      background: #fff; }
    header .alternative-menu-container #menu-checkbox-container:hover .hamburger.active {
      background: transparent; }

#header {
  padding-bottom: 40px; }

@keyframes btn-hover {
  from {
    background-position: 0% 0%; }
  50% {
    background-position: 100% 0%; }
  to {
    background-position: 0% 0%; } }

@keyframes icon-rotate {
  from {
    transform: rotateX(0); }
  to {
    transform: rotateY(360deg); } }

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0); }
  to {
    opacity: 1;
    transform: scale(1); } }

.facts {
  box-sizing: border-box;
  padding: 0 15px var(--main-bottom-padding) 15px;
  margin-top: -150px;
  width: 100%;
  display: flex;
  justify-content: center;
  transform-style: preserve-3d; }
  .facts .facts-item {
    border-radius: 10px;
    box-sizing: border-box;
    width: 300px;
    height: 420px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 50px #b3b2ae;
    transition: all 0.3s ease;
    background-color: #fff; }
    .facts .facts-item .facts-item-overflow-container {
      width: 100%;
      height: 180px;
      overflow: hidden;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      flex: 0 0 auto; }
      .facts .facts-item .facts-item-overflow-container img {
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        transition: all 0.3s linear; }
        .facts .facts-item .facts-item-overflow-container img:hover {
          transform: scale(1.2); }
    .facts .facts-item img {
      width: 100%; }
    .facts .facts-item p {
      margin: 0 18px 18px 18px; }
    .facts .facts-item button {
      flex: 0 0 auto; }
    .facts .facts-item:hover {
      transform: translateZ(10px); }
  .facts div + div {
    margin-left: 25px; }

@media (max-width: 1200px) {
  #offer .background-container {
    width: calc((100% - 955px) / 2 + 477px); }
  #offer .container {
    flex-direction: column; }
    #offer .container .offer-card {
      margin: 0;
      order: 2; }
    #offer .container .offer-info {
      box-sizing: border-box;
      padding: 0 20px;
      margin: 0 0 40px 0;
      width: 100%;
      order: 1;
      z-index: 3;
      background: rgba(255, 255, 255, 0.2); } }

@media (max-width: 1040px) {
  .about-us .container {
    width: 100%;
    padding: 0 30px; }
  #team::after {
    width: 100%;
    left: 0; } }

@media (max-width: 990px) {
  .facts {
    flex-wrap: wrap; }
    .facts .facts-item-last {
      margin-top: 80px; }
  .about-us .container span.big-a {
    display: none; }
  #features .container {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 300px 300px 300px;
    grid-template-areas: "z z" "a b" "c d";
    grid-gap: 0; }
    #features .container .features-item-main {
      width: 100%;
      border-radius: 0;
      box-shadow: none;
      position: static;
      grid-area: z; }
    #features .container .features-item {
      border-radius: 0; }
      #features .container .features-item:hover {
        transform: none; }
      #features .container .features-item h4, #features .container .features-item p {
        opacity: 1;
        margin-top: 20px; }
      #features .container .features-item .features-item-blur-container {
        border-radius: 0;
        filter: blur(5px); }
    #features .container .features-item-main h2 {
      margin-top: 0; }
  .services .container {
    box-sizing: border-box;
    padding-left: 50px;
    width: 100%; }
    .services .container .services-item {
      color: #fff; }
  .services #services-bg {
    width: 100%;
    filter: brightness(60%); }
  #team .container {
    box-sizing: border-box;
    padding: 0 10px;
    width: 100%; }
  #offer .background-container {
    width: 50%; }
  #offer .container {
    width: 100%; }
    #offer .container .offer-info {
      width: 90%; }
  #social .container {
    width: 100%; }
  #footer .container {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center; }
    #footer .container .features-item + .features-item {
      margin-left: 30px; }
  #header.contact-us .container {
    width: 100%; }
    #header.contact-us .container form {
      border-radius: 0; } }

@media (max-width: 966px) {
  .services .container {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .services .container #services-item {
      width: 100%; }
    .services .container #services-item-2 {
      background: linear-gradient(45deg, orange, blue);
      width: 430px;
      height: 630px;
      margin: 0;
      transform: rotate(90deg); }
      .services .container #services-item-2 .table-overflow-container {
        width: 396px;
        height: 598px; }
      .services .container #services-item-2 td {
        transform: rotate(-90deg);
        width: 200px;
        height: 200px; } }

@media (max-width: 880px) {
  .about-us .container {
    flex-direction: column;
    align-items: center; }
    .about-us .container .about-us-item {
      width: 100%; }
    .about-us .container .quote {
      width: 100%;
      margin-top: 100px; }
      .about-us .container .quote p:before {
        left: -45px;
        top: -7px; } }

@media (max-width: 790px) {
  #offer .container .offer-card {
    width: 100%; }
    #offer .container .offer-card ul {
      box-sizing: border-box;
      padding: 0 10px 0 15px; }
      #offer .container .offer-card ul li:hover {
        transform: none; } }

@media (max-width: 767px) {
  header p {
    max-width: 530px; }
  header h1 {
    font-size: 4em; }
  #team::after {
    width: 0; }
  #team .container .team-item {
    flex-direction: column;
    align-items: center; }
    #team .container .team-item .team-member-card {
      width: 60%; }
      #team .container .team-item .team-member-card img:hover {
        transform: none; } }

@media (max-width: 690px) {
  .facts {
    padding: 0 0 var(--main-bottom-padding) 0;
    flex-direction: column;
    align-items: center; }
    .facts .facts-item {
      margin: 40px 0 0 0; }
      .facts .facts-item:hover {
        transform: none; }
  #features .container {
    display: flex;
    flex-direction: column;
    align-items: center; }
    #features .container .features-item {
      box-sizing: border-box;
      order: 2;
      width: 100%; }
      #features .container .features-item .features-item-blur-container {
        width: 100%;
        background-size: cover; }
    #features .container .features-item-main {
      height: auto;
      order: 1; }
  .services .container #services-item-2 {
    background: linear-gradient(135deg, orange, blue);
    margin: 60px 0 0 0;
    transform: none; }
    .services .container #services-item-2 td {
      transform: none; } }

@media (max-width: 650px) {
  header .header-top {
    align-items: flex-start; }
  header .main-menu {
    display: none; }
  header .alternative-menu-container {
    display: block; } }

@media (max-width: 582px) {
  #offer .background-container {
    width: 100%;
    height: 50%; }
  #offer .container .offer-card {
    flex-direction: column; }
    #offer .container .offer-card .offer-item {
      width: 100%; }
    #offer .container .offer-card button {
      margin: 20px; }
  #social .container .social-item {
    width: 90%;
    flex-wrap: wrap;
    justify-content: center; }
    #social .container .social-item a {
      margin-top: 10px; }
    #social .container .social-item a + a {
      margin-left: 20px; } }

@media (max-width: 547px) {
  header p {
    width: 70%; }
  #header.contact-us .container form .form-item-1 {
    flex-direction: column; }
    #header.contact-us .container form .form-item-1 input {
      width: 100%; }
    #header.contact-us .container form .form-item-1 input:not(:last-child) {
      margin-bottom: var(--margin-top-form); } }

@media (max-width: 520px) {
  header h1 {
    font-size: 3em; }
  header h3 {
    font-size: 1.5em; } }

@media (max-width: 470px) {
  .services .container {
    padding: 0; }
    .services .container #services-item {
      box-sizing: border-box;
      padding: 0 30px; }
    .services .container #services-item-2 {
      width: 100%; }
      .services .container #services-item-2 .table-overflow-container {
        width: 100%; }
        .services .container #services-item-2 .table-overflow-container table {
          width: calc(100% + 4px); }
        .services .container #services-item-2 .table-overflow-container td {
          width: 50%; } }

@media (max-width: 400px) {
  header .header-top {
    justify-content: flex-end; }
  header .logo {
    display: none; }
  header h1 {
    font-size: 2em; }
  .facts .facts-item {
    padding-bottom: 25px;
    width: 100%;
    height: auto;
    border-radius: 0; }
    .facts .facts-item .facts-item-overflow-container {
      border-radius: 0; }
      .facts .facts-item .facts-item-overflow-container img {
        border-radius: 0; }
    .facts .facts-item button {
      margin-top: 0; } }

.about-us {
  padding-bottom: var(--main-bottom-padding);
  display: flex;
  justify-content: center; }
  .about-us .container {
    display: flex;
    justify-content: space-between;
    position: relative; }
    .about-us .container .big-a {
      width: 587px;
      display: flex;
      justify-content: center;
      position: absolute;
      top: -5%;
      left: 26%;
      font-size: 37em;
      font-family: Belgrad;
      font-weight: bold;
      background: url("../img/bg-about-us.jpg") no-repeat 66% center;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      z-index: 1; }
  .about-us .about-us-item {
    width: 350px;
    flex: 0 0 auto;
    z-index: 2; }
    .about-us .about-us-item span {
      font-weight: bold; }
  .about-us .quote {
    margin: 80px 0 0 0px;
    width: 300px;
    text-align: center;
    flex: 0 0 auto;
    z-index: 2; }
    .about-us .quote p {
      text-align: left;
      position: relative;
      font-style: italic;
      font-weight: bold; }
      .about-us .quote p::before {
        content: "“";
        position: absolute;
        left: -120px;
        top: 30px;
        font-size: 12.5em;
        font-weight: bold;
        font-family: Berlin; }

.features {
  padding: var(--main-bottom-padding) 0; }
  .features .container {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 468px 468px;
    grid-template-rows: 300px 300px;
    grid-template-areas: "a b" "c d";
    grid-gap: 19px;
    position: relative; }
    .features .container .features-item {
      border-radius: 10px;
      padding: 0 20px;
      z-index: 1;
      transition: transform 0.3s ease;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      align-items: center;
      position: relative;
      color: #fff; }
      .features .container .features-item h4 {
        margin-top: 20px; }
      .features .container .features-item h4, .features .container .features-item p {
        z-index: 2;
        opacity: 0;
        transition: opacity 0.3s ease; }
      .features .container .features-item .features-item-blur-container {
        border-radius: 10px;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        background-size: cover; }
      .features .container .features-item:hover .features-item-blur-container {
        filter: blur(5px); }
      .features .container .features-item:hover h4, .features .container .features-item:hover p {
        opacity: 1; }
    .features .container .features-item-1 {
      grid-area: a; }
      .features .container .features-item-1:hover {
        transform: translateY(-50px); }
      .features .container .features-item-1 .features-item-blur-container-1 {
        background: url("../img/bg-features-1.jpg") no-repeat top center; }
    .features .container .features-item-2 {
      grid-area: b; }
      .features .container .features-item-2:hover {
        transform: translateY(-50px); }
      .features .container .features-item-2 .features-item-blur-container-2 {
        background: url("../img/bg-features-2.jpg") no-repeat top center; }
    .features .container .features-item-3 {
      grid-area: c; }
      .features .container .features-item-3:hover {
        transform: translateY(50px); }
      .features .container .features-item-3 .features-item-blur-container-3 {
        background: url("../img/bg-features-3.jpg") no-repeat top center; }
      .features .container .features-item-3 h4 {
        margin-top: 120px; }
    .features .container .features-item-4 {
      grid-area: d; }
      .features .container .features-item-4:hover {
        transform: translateY(50px); }
      .features .container .features-item-4 .features-item-blur-container-4 {
        background: url("../img/bg-features-4.jpg") no-repeat top center;
        background-size: cover; }
      .features .container .features-item-4 h4 {
        margin-top: 120px; }
    .features .container .features-item-main {
      border-radius: 10px;
      box-shadow: 0 0 25px #000;
      box-sizing: border-box;
      padding: 0 10px;
      position: absolute;
      width: 60%;
      height: 300px;
      z-index: 2;
      background-color: #fff;
      left: 191px;
      top: 169px;
      text-align: center; }
      .features .container .features-item-main h2 {
        margin: 35px 0 0 0;
        font-weight: normal; }
      .features .container .features-item-main p {
        font-style: italic;
        font-weight: bold;
        margin-bottom: 35px; }

.services {
  padding-bottom: var(--main-bottom-padding);
  position: relative;
  background: #f4f4f4; }
  .services .container {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center; }
    .services .container .services-item {
      width: 450px;
      flex: 0 0 auto; }
      .services .container .services-item span {
        font-weight: bold; }
      .services .container .services-item button {
        margin-top: 50px; }
    .services .container .services-item-2 {
      background: linear-gradient(135deg, orange, blue);
      border-radius: 10px;
      margin: 60px 0 0 50px;
      width: 330px;
      height: 480px;
      flex: 0 0 auto;
      display: flex;
      justify-content: center;
      align-items: center; }
      .services .container .services-item-2 .table-overflow-container {
        box-sizing: border-box;
        width: 296px;
        height: 446px;
        flex: 0 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden; }
        .services .container .services-item-2 .table-overflow-container table {
          border-radius: 10px;
          box-sizing: border-box;
          width: 300px;
          height: 450px;
          color: #fff;
          border-collapse: collapse;
          flex: 0 0 auto;
          table-layout: fixed; }
          .services .container .services-item-2 .table-overflow-container table td {
            box-sizing: border-box;
            padding: 0;
            margin: 0;
            border: 2px dotted rgba(255, 255, 255, 0.3);
            width: 150px;
            height: 150px;
            flex: 0 0 auto;
            text-align: center;
            vertical-align: middle;
            transition: opacity 0.3s ease; }
            .services .container .services-item-2 .table-overflow-container table td:hover {
              opacity: 0.5; }
            .services .container .services-item-2 .table-overflow-container table td .ico {
              margin: 0 auto;
              width: 50px;
              height: 50px;
              background: url("../img/sprite.png"); }
            .services .container .services-item-2 .table-overflow-container table td .ico-1 {
              background-position: -20px -350px; }
            .services .container .services-item-2 .table-overflow-container table td .ico-2 {
              background-position: -160px 0px; }
            .services .container .services-item-2 .table-overflow-container table td .ico-3 {
              background-position: -90px -210px; }
            .services .container .services-item-2 .table-overflow-container table td .ico-4 {
              background-position: -20px -280px; }
            .services .container .services-item-2 .table-overflow-container table td .ico-5 {
              background-position: -160px -210px; }
            .services .container .services-item-2 .table-overflow-container table td .ico-6 {
              background-position: -230px -210px; }
            .services .container .services-item-2 .table-overflow-container table td p {
              margin: 5px 0 0 0; }
  .services .services-right-bg-container {
    width: 43%;
    height: 100%;
    background: url("../img/bg-services.jpg") no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0; }

@keyframes btn-hover {
  from {
    background-position: 0% 0%; }
  50% {
    background-position: 100% 0%; }
  to {
    background-position: 0% 0%; } }

@keyframes icon-rotate {
  from {
    transform: rotateX(0); }
  to {
    transform: rotateY(360deg); } }

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0); }
  to {
    opacity: 1;
    transform: scale(1); } }

.team {
  margin-bottom: var(--main-bottom-padding);
  text-align: center;
  position: relative;
  z-index: 3; }
  .team .container {
    display: block;
    position: relative;
    z-index: 3; }
    .team .container .team-item {
      width: 100%;
      display: flex;
      justify-content: space-between;
      position: relative;
      z-index: 2; }
      .team .container .team-item .team-member-card {
        margin-bottom: 15px;
        width: 18%; }
        .team .container .team-item .team-member-card img {
          border-radius: 10px;
          width: 100%;
          height: auto;
          filter: grayscale(100%);
          transition: all .3s ease;
          z-index: 2; }
          .team .container .team-item .team-member-card img:hover {
            filter: grayscale(0);
            transform: scale(1.1); }
        .team .container .team-item .team-member-card h4 {
          margin-bottom: 5px;
          transition: text-shadow .3s ease; }
        .team .container .team-item .team-member-card p {
          margin: 0;
          opacity: 0.7;
          transition: text-shadow .3s ease; }
        .team .container .team-item .team-member-card h4:hover, .team .container .team-item .team-member-card p:hover {
          text-shadow: 0 0 10px mediumpurple; }
      .team .container .team-item #preview-container {
        animation: fade-in .3s ease;
        position: absolute;
        z-index: 5;
        width: 80%;
        height: auto;
        box-shadow: 0 0 20px #000;
        background: rgba(179, 178, 174, 0.69);
        top: -90px;
        left: 10%;
        display: none; }
        .team .container .team-item #preview-container #x-mark-container {
          width: 50px;
          height: 50px;
          position: absolute;
          right: 20px;
          top: 20px;
          z-index: 5; }
          .team .container .team-item #preview-container #x-mark-container:hover #x-mark, .team .container .team-item #preview-container #x-mark-container:hover #x-mark::before {
            background: black; }
          .team .container .team-item #preview-container #x-mark-container #x-mark {
            position: absolute;
            display: block;
            width: 40px;
            height: 5px;
            background: #8a8985;
            z-index: 5;
            transform: rotate(45deg);
            right: 5px;
            top: 22px;
            transition: all .3s ease; }
            .team .container .team-item #preview-container #x-mark-container #x-mark::before {
              content: "";
              display: block;
              width: 40px;
              height: 5px;
              background: #8a8985;
              transform: rotate(-90deg);
              transition: all .3s ease; }
        .team .container .team-item #preview-container .preview {
          border-radius: 10px;
          animation: fade-in .3s ease;
          height: auto;
          width: 100%;
          box-shadow: 0 0 20px black;
          top: 0;
          left: 0;
          position: absolute;
          z-index: 4;
          flex: 0 0 auto; }
      .team .container .team-item #preview-container.visible {
        display: block; }
  .team::after {
    content: "";
    width: 94%;
    height: 60%;
    display: block;
    position: absolute;
    background-color: #f4f4f4;
    bottom: 0;
    left: 3%;
    z-index: 0; }

.offer {
  padding: var(--main-bottom-padding) 0;
  position: relative;
  z-index: 2; }
  .offer .background-container {
    background: linear-gradient(135deg, orange, blue);
    width: calc((100% - 955px) / 2 + 305px);
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1; }
  .offer .container {
    display: flex;
    align-items: center;
    z-index: 2; }
    .offer .container .offer-card {
      z-index: 2;
      margin-left: -70px;
      width: 750px;
      flex: 0 0 auto;
      display: flex; }
      .offer .container .offer-card .offer-item {
        width: 50%;
        text-align: center; }
      .offer .container .offer-card .offer-item-1 {
        box-sizing: border-box;
        padding: 0 10px;
        background-color: #fff; }
        .offer .container .offer-card .offer-item-1 h1 {
          background: linear-gradient(135deg, orange, blue);
          font-size: 3.5em;
          font-family: Myriadpro;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          letter-spacing: -6px;
          transition: transform .3s ease; }
          .offer .container .offer-card .offer-item-1 h1:hover {
            transform: scale(0.9); }
        .offer .container .offer-card .offer-item-1 h2 {
          margin-bottom: 0; }
        .offer .container .offer-card .offer-item-1 h4 {
          margin-top: 0; }
        .offer .container .offer-card .offer-item-1 span {
          font-size: 1.75em; }
      .offer .container .offer-card .offer-item-2 {
        background: linear-gradient(135deg, orange, blue);
        color: #fff; }
        .offer .container .offer-card .offer-item-2 h1 {
          font-size: 4em;
          font-family: Myriadpro;
          margin: 80px 0 0 0; }
        .offer .container .offer-card .offer-item-2 h4 {
          margin-top: 0; }
        .offer .container .offer-card .offer-item-2 li {
          position: relative;
          text-align: left;
          list-style: none;
          line-height: 2.2em;
          transition: all .3s ease; }
          .offer .container .offer-card .offer-item-2 li:hover {
            transform: scale(1.1);
            color: mediumpurple; }
          .offer .container .offer-card .offer-item-2 li::before {
            content: "✔";
            margin-right: 20px; }
        .offer .container .offer-card .offer-item-2 button {
          margin: 45px 0 0 -110px;
          background-image: none;
          background-color: #fff; }
          .offer .container .offer-card .offer-item-2 button a {
            color: #000; }
    .offer .container .offer-info {
      margin-left: 40px;
      width: 400px;
      flex: 0 0 auto; }
      .offer .container .offer-info .bold {
        font-weight: bold; }

.social {
  padding: var(--main-bottom-padding) 0 var(--main-bottom-padding) 0;
  background: linear-gradient(to right, rgba(255, 165, 0, 0.8), rgba(0, 0, 255, 0.8)), url("../img/bg-social.jpg") no-repeat top center;
  background-size: cover;
  color: #fff; }
  .social .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    perspective: 1000px; }
    .social .container h2 {
      margin-top: 0; }
    .social .container .social-item {
      width: 500px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .social .container .social-item a {
        display: block;
        width: 50px;
        height: 50px;
        flex: 0 0 auto;
        background: url("../img/sprite.png");
        transform-style: preserve-3d; }
        .social .container .social-item a:hover {
          animation: icon-rotate 3s linear infinite; }
      .social .container .social-item .vk {
        background-position: -20px -70px; }
      .social .container .social-item .gp {
        background-position: -90px 0; }
      .social .container .social-item .fb {
        background-position: -20px -140px; }
      .social .container .social-item .yt {
        background-position: -90px -140px; }
      .social .container .social-item .in {
        background-position: -20px -210px; }
      .social .container .social-item .tw {
        background-position: -230px -280px; }

footer {
  padding: var(--main-bottom-padding) 0 var(--main-bottom-padding) 0;
  background-color: rgba(179, 178, 174, 0.2); }
  footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    footer .container .footer-item {
      border-radius: 10px;
      position: relative;
      box-sizing: border-box;
      padding-left: 10px;
      width: 300px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: all .3s ease; }
      footer .container .footer-item:hover {
        background-color: #ffbf4b;
        color: #00f;
        opacity: 0.8; }
        footer .container .footer-item:hover .mail {
          background-position: -160px -140px; }
        footer .container .footer-item:hover .phone {
          background-position: -90px -280px; }
        footer .container .footer-item:hover .address {
          background-position: -90px -70px; }
      footer .container .footer-item .footer-item-content {
        flex: 0 0 auto; }
      footer .container .footer-item .img-container {
        width: 50px;
        height: 50px;
        flex: 0 0 auto;
        background: url("../img/sprite.png");
        opacity: 0.7; }
      footer .container .footer-item .mail {
        background-position: -230px -140px; }
      footer .container .footer-item .phone {
        background-position: -160px -280px; }
      footer .container .footer-item .address {
        background-position: -160px -70px; }
      footer .container .footer-item .footer-item-content {
        width: 230px; }

:root {
  --main-padding: 67px;
  --main-bottom-padding: 100px;
  --margin-top-form: 32px; }

header.contact-us .container {
  text-align: center;
  color: #fff; }
  header.contact-us .container form {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 20px; }
    header.contact-us .container form .form-item-1 {
      width: 100%;
      display: flex;
      justify-content: space-between; }
      header.contact-us .container form .form-item-1 input {
        box-sizing: border-box;
        padding-left: 10px;
        width: 32%;
        height: 30px;
        background-color: rgba(255, 255, 255, 0);
        border: 1px solid rgba(255, 255, 255, 0.7);
        flex: 0 0 auto;
        color: #fff;
        transition: opacity .3s ease; }
        header.contact-us .container form .form-item-1 input:focus::-webkit-input-placeholder {
          opacity: 0; }
        header.contact-us .container form .form-item-1 input::-webkit-input-placeholder {
          color: #fff;
          opacity: 1;
          transition: opacity 0.3s ease; }
    header.contact-us .container form .form-item-2 {
      margin-top: var(--margin-top-form);
      width: 100%; }
      header.contact-us .container form .form-item-2 textarea {
        box-sizing: border-box;
        padding: 10px;
        width: 100%;
        height: 100px;
        background: rgba(255, 255, 255, 0);
        border: 1px solid rgba(255, 255, 255, 0.7);
        color: #fff;
        resize: none;
        transition: color .3s ease; }
        header.contact-us .container form .form-item-2 textarea:focus {
          color: transparent; }
    header.contact-us .container form input[type="checkbox"] {
      margin-top: var(--margin-top-form); }
    header.contact-us .container form .btn-white {
      margin-top: var(--margin-top-form);
      width: 138px; }

.our-team {
  box-sizing: border-box;
  padding: 50px 0 var(--main-bottom-padding) 0;
  position: relative; }
  .our-team .background-container {
    background: linear-gradient(135deg, orange, blue);
    position: absolute;
    height: 680px;
    width: calc((100% - 955px) / 2 + 287px);
    z-index: 1; }
  .our-team .background-container-1 {
    right: 0; }
  .our-team .background-container-2 {
    left: 0;
    top: 780px;
    width: calc((100% - 955px) / 2 + 307px); }
  .our-team .background-container-3 {
    right: 0;
    top: 1510px;
    width: calc((100% - 955px) / 2 + 287px); }
  .our-team .background-container-4 {
    left: 0;
    top: 2240px;
    width: calc((100% - 955px) / 2 + 307px); }
  .our-team .background-container-5 {
    right: 0;
    top: 2970px;
    width: calc((100% - 955px) / 2 + 287px); }
  .our-team h2 {
    margin-bottom: 0; }
  .our-team h4 {
    font-size: 1.1em; }
  .our-team .container {
    z-index: 5; }
    .our-team .container .our-team-item + .our-team-item {
      margin-top: 50px; }
    .our-team .container .our-team-item {
      width: 100%;
      height: 680px;
      display: flex;
      align-items: flex-start;
      z-index: 5; }
      .our-team .container .our-team-item .info {
        width: 370px; }
        .our-team .container .our-team-item .info h4 {
          margin: 0; }
        .our-team .container .our-team-item .info .specifications {
          width: 100%;
          height: 300px;
          display: flex;
          flex-direction: column;
          justify-content: space-between; }
          .our-team .container .our-team-item .info .specifications .specifications-item {
            width: 100%;
            height: 100px; }
            .our-team .container .our-team-item .info .specifications .specifications-item .specifications-item-header {
              width: 100%;
              display: flex;
              justify-content: space-between; }
            .our-team .container .our-team-item .info .specifications .specifications-item .progress-bar-container {
              width: 100%;
              position: relative; }
              .our-team .container .our-team-item .info .specifications .specifications-item .progress-bar-container::before {
                border-radius: 10px;
                content: "";
                display: block;
                width: 100%;
                height: 10px;
                position: absolute;
                top: 10px;
                background: rgba(138, 137, 133, 0.55); }
              .our-team .container .our-team-item .info .specifications .specifications-item .progress-bar-container .progress-bar {
                border-radius: 10px;
                background: linear-gradient(to right, orange, blue);
                height: 10px; }
                .our-team .container .our-team-item .info .specifications .specifications-item .progress-bar-container .progress-bar:hover {
                  animation: btn-hover 3s ease infinite;
                  background-size: 400%;
                  background-position: 250% 0; }
              .our-team .container .our-team-item .info .specifications .specifications-item .progress-bar-container .progress-bar-1 {
                width: 99%; }
              .our-team .container .our-team-item .info .specifications .specifications-item .progress-bar-container .progress-bar-2 {
                width: 100%; }
              .our-team .container .our-team-item .info .specifications .specifications-item .progress-bar-container .progress-bar-3 {
                width: 80%; }
      .our-team .container .our-team-item .our-team-card {
        margin-left: 30px;
        width: 600px;
        height: 680px;
        display: flex;
        z-index: 5; }
        .our-team .container .our-team-item .our-team-card .photo-container {
          flex: 0 0 auto;
          width: 50%;
          height: 100%;
          background-size: cover; }
        .our-team .container .our-team-item .our-team-card .js-photo {
          background: url("../img/team-member-1.jpg") no-repeat 37% 0; }
        .our-team .container .our-team-item .our-team-card .info {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          box-sizing: border-box;
          padding: 50px 0 70px 30px;
          z-index: 5;
          color: #fff; }
          .our-team .container .our-team-item .our-team-card .info .footer {
            display: flex;
            justify-content: flex-start; }
            .our-team .container .our-team-item .our-team-card .info .footer a {
              display: block;
              width: 50px;
              height: 50px;
              background: url("../img/sprite.png") no-repeat; }
            .our-team .container .our-team-item .our-team-card .info .footer a + a {
              margin-left: 10px; }
            .our-team .container .our-team-item .our-team-card .info .footer .fb {
              background-position: -230px -70px; }
              .our-team .container .our-team-item .our-team-card .info .footer .fb:hover {
                background-position: -20px -140px; }
            .our-team .container .our-team-item .our-team-card .info .footer .gp {
              background-position: -20px 0px; }
              .our-team .container .our-team-item .our-team-card .info .footer .gp:hover {
                background-position: -90px 0px; }
            .our-team .container .our-team-item .our-team-card .info .footer .vk {
              background-position: -230px 0px; }
              .our-team .container .our-team-item .our-team-card .info .footer .vk:hover {
                background-position: -20px -70px; }
    .our-team .container .arya-stark {
      flex-direction: row-reverse; }
      .our-team .container .arya-stark #specifications .progress-bar-1 {
        width: 87%; }
      .our-team .container .arya-stark #specifications .progress-bar-2 {
        width: 94%; }
      .our-team .container .arya-stark #specifications .progress-bar-3 {
        width: 96%; }
    .our-team .container .our-team-card-2 {
      flex-direction: row-reverse;
      margin: 0 30px 0 0; }
      .our-team .container .our-team-card-2 .as-photo {
        background: url("../img/team-member-2.jpg") no-repeat 46% 0; }
    .our-team .container .sansa-stark {
      flex-direction: row; }
      .our-team .container .sansa-stark #specifications .progress-bar-1 {
        width: 92%; }
      .our-team .container .sansa-stark #specifications .progress-bar-2 {
        width: 91%; }
      .our-team .container .sansa-stark #specifications .progress-bar-3 {
        width: 89%; }
    .our-team .container .our-team-card-3 {
      flex-direction: row;
      margin: 0 0 0 30px; }
      .our-team .container .our-team-card-3 .ss-photo {
        background: url("../img/team-member-3.jpg") no-repeat 46% 0; }
    .our-team .container .khal-drogo {
      flex-direction: row-reverse; }
      .our-team .container .khal-drogo #specifications.kd .progress-bar-1 {
        width: 75%; }
      .our-team .container .khal-drogo #specifications.kd .progress-bar-2 {
        width: 92%; }
      .our-team .container .khal-drogo #specifications.kd .progress-bar-3 {
        width: 84%; }
    .our-team .container .our-team-card-4 {
      flex-direction: row-reverse;
      margin: 0 30px 0 0; }
      .our-team .container .our-team-card-4 .kd-photo {
        background: url("../img/team-member-4.jpg") no-repeat 46% 0; }
    .our-team .container .daenerys-targaryen {
      flex-direction: row; }
      .our-team .container .daenerys-targaryen #specifications .progress-bar-1 {
        width: 99%; }
      .our-team .container .daenerys-targaryen #specifications .progress-bar-2 {
        width: 99%; }
      .our-team .container .daenerys-targaryen #specifications .progress-bar-3 {
        width: 99%; }
    .our-team .container .our-team-card-5 {
      flex-direction: row;
      margin: 0 0 0 30px; }
      .our-team .container .our-team-card-5 .dt-photo {
        background: url("../img/team-member-5.jpg") no-repeat 58% 0; }

html {
  height: 100%;
  width: 100%; }

body {
  margin: 0 auto;
  padding: 0;
  min-height: 100%;
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  perspective: 500px;
  cursor: default; }

:focus {
  outline: none; }

h1 {
  font-family: Bernadette;
  font-weight: normal;
  font-size: 6em; }

h2 {
  font-family: Bernadette;
  font-weight: normal;
  font-size: 2.8em; }

h3 {
  font-size: 2em; }

h4 {
  font-size: 1.4em; }

p {
  line-height: 1.5em; }

button {
  background: linear-gradient(to right, orange, blue);
  box-sizing: border-box;
  padding: 10px 25px;
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  border-radius: 50px;
  cursor: pointer; }
  button:hover {
    box-shadow: 0 0 25px #000;
    animation: btn-hover 3s ease infinite;
    background-size: 400%;
    background-position: 250% 0;
    transition: transform 0.3s ease; }
  button:active {
    transform: scale(0.9); }
  button a {
    text-decoration: none;
    color: #fff; }

.container {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  width: 955px;
  flex: 0 0 auto; }

@font-face {
  font-family: Bernadette;
  src: url("../fonts/bernadette.ttf"); }

@font-face {
  font-family: Berlin;
  src: url("../fonts/BRLNSR.ttf"); }

@font-face {
  font-family: Belgrad;
  src: url("../fonts/Belgrad.ttf"); }

@font-face {
  font-family: Myriadpro;
  src: url("../fonts/Myriadpro.ttf"); }
